//width
$micro-width: 450px;
$mobile-width: 570px;
$fablet-width: 650px;
$tablet-width: 768px;
$desktop-width: 1024px;
$widescreen-width: 1280px;

//colors
$base-green: #cfe8dc;
$base-green-hover: #abd8c3;
$base-color: #354e58;

// fluid font variables
$min_width: 320px;
$max_width: 1200px;
$min_font: 12px;
$max_font: 16px;